body {
	padding-left: 20px;
}

h1 a{
	color: #200ee8
	font-family: Florence, cursive;
}

.page-header{
	background-color: #200ee8
	margin-top: 0
	padding: 20px 20px 20px 20px
}

.date{
	float: right;
	color: #828282;
}

.save{
	float: right;
}

.post-form textarea, .post-form input{
	width: 100%;
}

.post {
	margin-bottom: 70px;
	font-size: 14pt;
	font-family: Florence, cursive;
}

.post h1 a, .post h1 a:visited{
	color: #f50c23;
}








